@charset "utf-8";
/* icons from header */
.iconsheader {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}
.navbar-toggler {
  border-radius: 7px;
  background-color: white !important;
}

.mln {
  margin-top: 85px;
  margin-left: -0.8rem !important;
  margin-right: -0.6rem !important;
}
/* estilo para os cards */
#card1 {
  background-image: url("/assets/img/capaCard1-1685x949.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#card1 h2 {
  margin-top: -15px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}
.cardcurso {
  position: relative;
  font-size: 1.8em;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  min-height: 24vh;
  min-width: 300px;
  margin-bottom: 18%;
  background: rgb(51, 121, 111);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 6px 6px 10px rgb(31, 30, 30);
}
.content {
  font-size: 1.5rem;
  max-height: 105px;
  position: absolute;
background-color: rgb(192, 191, 191);
  right: 27px;
  left: 26px;
  bottom: -60px;
  border-radius: 5px;
  box-shadow: 6px 6px 10px rgb(31, 30, 30);
  margin-bottom: 18px;
}
/* icons from cards */
.play {
  position: absolute;
  right: 10px;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 700px !important;
  }
  section {
    margin-left: 0 10% 0;
    max-width: 80%;
  }
  .cardcurso {
    height: 24vh;
    min-height: 100%;
    margin-bottom: 9%;
  }
  .content {
    position: absolute;
    left: 124px;
    width: 331px;
    padding: 8px 5px;
  }
}
@media screen and (min-width: 676px) {
  .content {
    left: 167px;
  }
}
