@charset "utf-8";
/* icons from header */
.iconsheader{
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}
.navbar-toggler {
  border-radius: 7px;
  background-color: white!important;
}
/* ----------------- */
/* header */
.header {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
}
.but {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #212529;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
/* --------------- */
/* menu nav-pills  em dispositivos mobile */
.navpil {
  flex-direction: column;
  border: 1px solid #dee2e6;
}
.tb-conteudo {
  text-align: left;
  margin-left: 8px;
}
.mt {
  margin-top: 33px;
}
/* ---------------- */


















@media screen and (min-width: 415px) {
  .navpil {
    display: flex;
    flex-direction: row;
  }
}
  
/* ---------------- */

@media screen and (min-width: 470px) {
  .mrgP{
    margin-top: 26px;
    margin-bottom: 33px;
  }
}